main {
  margin: 2rem;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.item {
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid gray;
}

.categoryButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 1rem;
}

button {
  color: white;
  background-color: #ce50d3;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 1rem;
}

.selected {
  background-color: #6a1c72;
}